:root {
  --background-color: #263343;
  --font-color: #fff;
  --icon-color: #d49466;

  --font-size-large: 20px;
  --font-size-medium: 16px;
  --togglebar-size: 24px;

  --padding-top-bottom: 8px;
  --padding-left-right: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}
.navbar {
  background-color: var(--background-color);
  color: var(--font-color);
  padding: var(--padding-top-bottom) var(--padding-left-right);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: var(--font-size-large);
  padding: var(--padding-top-bottom) 0;
}

.navbar__logo i {
  color: var(--icon-color);
  padding-right: calc(var(--padding-left-right) / 2);
}

.navbar__logo a {
  text-decoration: none;
  color: var(--font-color);
}

.navbar__menu ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu ul li {
  padding: var(--padding-top-bottom) var(--padding-left-right);
  width: 100%;
}

.navbar__menu ul li a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--font-color);
}

.navbar__sns ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__sns ul li {
  padding: var(--padding-top-bottom) var(--padding-left-right);
}

#navbar__toggle {
  display: none;
}

.navbar__togglebar {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: var(--togglebar-size);
  color: var(--icon-color);
  display: none;
}

.navbar__menu > ul > li:hover {
  background-color: var(--icon-color);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  .navbar__sns {
    display: none;
  }

  .navbar__togglebar {
    display: block;
  }

  #navbar__toggle:checked ~ .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar__toggle:checked ~ .navbar > .navbar__menu {
    display: block;
    width: 100%;
  }

  #navbar__toggle:checked ~ .navbar > .navbar__sns {
    display: block;
    width: 100%;
  }

  #navbar__toggle:checked ~ .navbar > .navbar__menu > ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #navbar__toggle:checked ~ .navbar > .navbar__sns > ul {
    justify-content: center;
  }
}
